@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

body {
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #113739;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
}

.form-control {
    border-color: #2f9286;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #22786e;  
}

/* Изменение фона и текста автозаполнения */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2f928731 inset;
}

/* Изменение фона автозаполнения при получении фокуса */
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #2f928776 inset;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2F9286;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2F9286;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #2F9286;
}



