.user-card {
    width: 235px;
    height: 350px;
    padding: 1rem;
    text-align: center;
}

.avatar-container img, .avatar-container .placeholder {
    border-radius: 24px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.avatar-container .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
}

.user-details {
    margin: 0 auto;
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47%;
}

.main-info a {
    color: #113739;
}
.main-info a:hover {
    cursor: pointer;
    color: #2F9286;
}

#search-persons {
    background-color: #F6F6F6;
    box-shadow: 0px 4px 4px color(display-p3 0.467 0.776 0.757 / 0.15);
    position: relative;
    border: none;
}
#search-button {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 8px;
    right: 25px;
    background-color: transparent;
    border: none;
}