body {
    margin: 0;
    padding: 0;
}

.estimate-button {
    background-color: #2F9286;
    color: white;
    align-self: center;
    display: flex !important;
    width: 30%;
    justify-self: center;
}

.project-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
}

.background-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    position: relative;
    margin-bottom: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
}

.author-details {
    position: absolute;
    bottom: 10px;
    left: 120px;
    color: #113739;
}

.tag-badge {
    margin: 0;
    display: inline-block;
    padding: 2px 4px;
    color: white;
    font-size: 12px;
    background-color: #6CBFB5;
    border-radius: 0.5rem;
    margin: 2px;
}

.link_on_code {
    text-decoration: none;
    color: #377275;
}

.link_on_code:hover {
    color: #113739;
}

.author-details a {
    color: #113739;
    text-decoration: none;
}

.author-details a:hover {
    color: #377275;
}

.description, .link_on_code {
    word-wrap: break-word;
}

.top-right-images {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.top-right-images .circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btns {
    height: 100%;
}

.project-actions {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-actions a {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #2F9286;
    text-decoration: none;
    margin-bottom: 10px;
}

.project-actions a:hover {
    background-color: #113739;
}

.rounded {
    border-radius: 20px !important;
}

.modal-footer button {
    background-color: #1B5C60;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}
