.change-form select.django-select2 {
  width: 30em;
}
/* Стили для django-select2 */
.select2-container .select2-selection--multiple {
  border: 1px solid #2F9286;
  border-radius: 1rem;
}

/* Выбранные элементы */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #6CBFB5;
  border: 1px solid #6CBFB5;
  border-radius: 0.5rem;
  color: white;
}

/* Удаление выбранных элементов */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: rgb(227, 37, 37);
  background-color: transparent;
  border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background-color: transparent;
  color: #2F9286;
}

/* Поле поиска */
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
  display: none;
  border: none;
}

/* Обёртка выбранных элементов */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Стили для выпадающего списка */
.select2-container--default .select2-dropdown {
  background-color: #fff;
  border: 1px solid #2F9286;
  /* border-radius: 1rem; */
}

/* Элементы выпадающего списка */
.select2-container--default .select2-results__option {
  padding: 0.5rem;
}
.select2-container--default .select2-results__option--selected {
  background-color: #6CBFB5;
  color: white;
}
.select2-container--default .select2-results__option--selected:hover {
  background-color: #6CBFB5;
  color: white;
}
.select2-container--default .select2-results__option--selected:active {
  background-color: #6CBFB5;
  color: white;
}
.select2-container--default .select2-results__option--highlighted:hover {
  background-color: #6CBFB5;
  color: white;
}
.select2-container--default .select2-results__option--highlighted:active {
  background-color: #6CBFB5;
  color: white;
}






/* Выбранный элемент в состоянии focus (если это необходи
/* Поле поиска внутри выпадающего списка */
.select2-container--default .select2-search--dropdown .select2-search__field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #2F9286;
  /* border-radius: 1rem; */
}

/* Плейсхолдер для поля поиска */
.select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
  color: #6CBFB5;
}

/* Прокрутка для длинного списка */
.select2-container--default .select2-results__options {
  max-height: 100px;
  overflow-y: auto;
  /* border-radius: 1rem; */
}
