<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_project.css' %}">
    <link rel="stylesheet" href="{% static 'django_select2/django_select2.css' %}">
</head>
<body>
    <header>
        {% include 'includes/header_nav.html' %}
    </header>
    {{ form.media.css }}
    <main class='ms-5 mt-3 mb-3 me-5 p-4' style='background-color: #F6F6F6; border-radius: 30px;'>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row mb-3">
                                <div class="col-sm-5 text-right">
                                    <label class='fw-bold' for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </div>
                                <div class="col-sm-7">
                                    {{ field | add_class:"form-control" | attr:"style: border-radius: 1rem;" }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group text-center">
                            <button type="submit" class="btn" style="background-color: #2F9286; color: #ffffff; border-radius: 1rem;">{{ button_name }}</button>
                        </div>
                    </form>
                    {{ form.media.js }}
                </div>
                <div id='preview' class="col-6">
                    <div class="project-card">
                        <div class="background-image" style="background-image: url('{% static "img/backgrounds/" %}{{ user.profile_background }}');">
                            <div class="top-right-images">
                                <a href="#">
                                    <div class="circle">
                                        <img src="{% static 'img/close-circle.svg' %}" alt="Close" width="26px" height="26px">
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="circle">
                                        <img src="{% static 'img/export.svg' %}" alt="Экспорт" width="24px" height="24px">
                                    </div>
                                </a>
                            </div>
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar">
                            {% else %}
                                <div class="placeholder">
                                    Нет фотографии
                                </div>
                            {% endif %}
                            <div class="author-details">
                                <a href="#">
                                    <h3 class="m-0 p-0" style="font-size: 20px;">{{ user.first_name }} {{ user.last_name }}</h3>
                                    <p class="m-0 p-0">{{ user.username }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="project-details">
                            <div class="text-center mb-4">
                                <h2 id="title" style="font-size: 20px;">Название проекта</h2>
                            </div>
                            <div class="description" id="description">
                                Здесь пока ничего нет(((
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-9">
                                    <p class="m-0" id="programming_language">Язык программирования: Не выбран</p>
                                    <div class="mt-2" id="tags-container">
                                        Теги не выбраны(((
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-center align-items-center">
                                    <span id="rating">Оценка заглушка</span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <span>Ссылка на GitHub:</span>
                                <a class="link_on_code" id="link_on_code" href="#">Ссылка не указана</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'includes/footer_base.html' %}
    </footer>
    <script>
        $(document).ready(function() {
            $('#id_tags').select2({
                maximumSelectionLength: 2,
                language: {
                    maximumSelected: function (args) {
                        return "Вы можете выбрать только два тега.";
                    }
                }
            }).on('select2:select select2:unselect', function() {
                updatePreviewTags();
            });

            function updatePreview(fieldId, fieldValue) {
                switch (fieldId) {
                    case "id_title":
                        document.getElementById("title").textContent = fieldValue.length > 0 ? (fieldValue.length > 40 ? fieldValue.slice(0, 40) + '...' : fieldValue) : "Название проекта";
                        break;
                    case "id_description":
                        document.getElementById("description").textContent = fieldValue.length > 0 ? (fieldValue.length > 430 ? fieldValue.slice(0, 430) + '...' : fieldValue) : "Здесь пока ничего нет(((";
                        break;
                    case "id_programming_language":
                        document.getElementById("programming_language").textContent = fieldValue.length > 0 ? "Язык программирования: " + fieldValue : "Язык программирования: Не выбран";
                        break;
                    case "id_link_on_code":
                        document.getElementById("link_on_code").textContent = fieldValue.length > 0 ? fieldValue : "Ссылка не указана";
                        document.getElementById("link_on_code").href = fieldValue.length > 0 ? fieldValue : "#";
                        break;
                }
            }

            function updatePreviewTags() {
                const tagsContainer = document.getElementById("tags-container");
                tagsContainer.innerHTML = "";
                const selectedTags = $('#id_tags').select2('data');
                if (selectedTags.length === 0) {
                    tagsContainer.textContent = "Теги не выбраны(((";
                } else {
                    selectedTags.forEach(tag => {
                        const tagElement = document.createElement("span");
                        tagElement.className = "tag-badge";
                        tagElement.textContent = "#" + tag.text;
                        tagsContainer.appendChild(tagElement);
                    });
                }
            }

            function initializePreview() {
                const fields = ['id_title', 'id_description', 'id_programming_language', 'id_link_on_code'];
                fields.forEach(fieldId => {
                    const fieldValue = document.getElementById(fieldId).value;
                    updatePreview(fieldId, fieldValue);
                });
                updatePreviewTags();
            }
            initializePreview();
            {% for field in form %}
                document.getElementById("{{ field.id_for_label }}").onchange = function() {
                    updatePreview(this.id, this.value);
                };
            {% endfor %}
        });
    </script>
    <script src="{% static 'js/modal_script.js' %}"></script>s
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
