{% load static %}
<div class='col-md-2 col-lg-2'  style='border-radius: 1rem;'>
    <div class=" p-0 m-0 text-bg-light" style='border-radius: 1rem;'>
        <div class="card-body" style='background-color: #F6F6F6; border-radius: 1rem;'>
            <h5 class="card-title mb-4">Фильтры</h5>
            <form>
                <div class="form-group mb-3">
                    <label for="filter2">Язык</label>
                    <select class="form-control rounded-pill" id="filter2">
                        <option>Выберите язык</option>
                        {% for language in languages %}
                            <option>{{ language }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="filter1">Тег</label>
                    <select class="form-control rounded-pill" id="filter1">
                        <option>Выберите тег</option>
                        {% for tag in tags %}
                            <option>{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3" style="background-color: #8DD3CB; padding: 15px; border-radius: 30px; color: white;">
                    <label>Сортировать по</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter3" id="new" value="new">
                        <label class="form-check-label" for="new">Новое</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter3" id="old" value="old">
                        <label class="form-check-label" for="old">Старое</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter3" id="rate" value="rate">
                        <label class="form-check-label" for="rate">Выше оценка</label>
                    </div>
                </div>
            </form>
            <button type="submit" style='background-color: #2F9286; color: white; border-radius: 15px;' class="btn" id="apply-changes">Применить изменения</button>
        </div>
    </div>
</div>