{% load static %}
<style>
    .project-card {
        width: 240px;
        height: 350px;
        background-color: #FFFFFF;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .project-card:hover {
        transform: scale(1.05);
    }

    .card-img {
        padding: 1rem;
        width: auto;
        height: 200px;
    }
    .project-card-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .tag-badge {
        margin: 0;
        display: inline-block;
        padding: 2px 4px;
        color: white;
        font-size: 12px;
        background-color: #6CBFB5;
        border-radius: 0.5rem;
        margin: 2px;
    }

    .tags-container {
        width: 66%;
        display: flex;
        flex-wrap: wrap;
    }

    .rating-container {
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.2rem;
    }

    .project-title-author {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .expand-icon {
        cursor: pointer;
    }

    .project-title-author a {
        color: #377275;
        font-size: 14px;
        font-weight: regular
    }
    
    .project-title-author a:hover {
        color: #113739;
    }

    .maximize:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
    }
</style>

<div class="project-card">
    <img src="{% static project.get_first_tag_image %}" alt="Project Tag Image" class="card-img img-fluid">
    <div class="project-card-body p-3">
        <div class="project-header">
            <div class="project-title-author">
                <p class="p-0 m-0" style="color: #377275; font-size: 16px; font-weight: bold; margin-bottom: 0px;">{{ project.title }}</p>
                <a class="p-0 m-0 text-decoration-none" href="{% url 'persons:profile_view' project.author %}">
                    {{ project.author }}
                </a>
            </div>
            <a class='maximize text-decoration-none p-0 m-0' href="{% url 'projects:project_detail' project.id %}">
                <img src="{% static 'img/maximize.svg' %}" alt="Expand" class="p-0 m-0 expand-icon">
            </a>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div class="tags-container">
                {% for tag in project.tags.all|slice:":2" %}
                    <span class="tag-badge">#{{ tag.name }}</span>
                {% endfor %}
            </div>
            <div class="rating-container">
                <p style="color: #377275; font-size: 12px; font-weight: regular;">+11 б.</p>
            </div>
        </div>
    </div>
</div>