<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактирование профиля</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/profile_update.css' %}" rel="stylesheet">
</head>
<body>
  <header>
    {% include 'includes/header_nav.html' %}
  </header>
  <main class='ms-3 me-3 p-5'>
    <div class='col-5 m-auto text-center p-5' style='background-color: #F6F6F6; border-radius: 1rem;'>
      <h3 class='mb-5'>Редактирование профиля</h3>
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <strong>Внимание!</strong> Исправьте ошибки в форме:
          <ul>
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row mb-3">
          <div class="col-sm-6 text-right">
            <label class='fw-bold' for="{{ form.avatar.id_for_label }}">Аватар</label>
          </div>
          <div class="col-sm-6 avatar-container">
            <input type="file" id="{{ form.avatar.id_for_label }}" name="{{ form.avatar.name }}" accept="image/*" onchange="previewAvatar(event)">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="Аватар" id="avatarPreview" class="img-fluid" onclick="document.getElementById('{{ form.avatar.id_for_label }}').click();">
            {% else %}
              <div class="placeholder" id="avatarPlaceholder" onclick="document.getElementById('{{ form.avatar.id_for_label }}').click();">
                Нет фотографии
              </div>
            {% endif %}
          </div>
        </div>
        <div class="form-group row mb-3">
          <div class="col-sm-6 text-right">
            <label class='fw-bold' for="id_profile_background">Фон профиля</label>
          </div>
          <div class="col-sm-6">
            <input type="hidden" id="id_profile_background" name="profile_background" value="{{ user.profile_background }}">
            <img src="{% static 'img/backgrounds/' %}{{ user.profile_background }}" alt="Текущий фон профиля" class="background-thumbnail" data-bs-toggle="modal" data-bs-target="#backgroundModal">
          </div>
        </div>

        {% for field in form %}
        {% if field.name != 'avatar' and field.name != 'profile_background' %}
            <div class="form-group row mb-3">
              <div class="col-sm-6 text-right">
                <label class='fw-bold' for="{{ field.id_for_label }}">{{ field.label }}</label>
              </div>
              <div class="col-sm-6">
                {{ field|add_class:"form-control"|attr:"style: border-radius: 1rem;" }}
                {% if field.errors %}
                  <div class="invalid-feedback">
                    <strong>{{ field.label }}:</strong>
                    <ul>
                      {% for error in field.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="form-group text-center mt-3">
          <button type="submit" style="background-color: #2F9286; color: #FFFFFF" class="btn rounded-pill mt-3">Сохранить</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    {% include 'includes/footer_base.html' %}
  </footer>
  <div class="modal fade" id="backgroundModal" tabindex="-1" aria-labelledby="backgroundModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="backgroundModalLabel">Выберите фон профиля</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="background-grid">
            {% for bg in form.fields.profile_background.choices %}
                {% if not forloop.first %}
                    <img src="{% static 'img/backgrounds/' %}{{ bg.0 }}" alt="{{ bg.1 }}" class="bg-option-modal {% if user.profile_background == bg.0 %}selected{% endif %}" data-bg="{{ bg.0 }}">
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/profile-update.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
