<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center ">
        <div class="col-md-6">
            <div class='container text-center mb-4'>
                <a class="navbar-brand m-0" href="{% url 'projects:index' %}">
                    <img class="d-block" src="{% static "/img/new_logo.png" %}"
                         class=""
                         alt=""
                         height="60vh">
                </a>
            </div>
            <div class="card" style="border-radius: 4rem;">
                <div class="card-header m-auto bg-body" style="background: transparent;">
                    <h3 style="color: #2F9286; padding-top: 20px;">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group">
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control w-100 " placeholder="{{ field.label }}" value="{{ field.value|default:'' }}" style="border-radius: 4rem;">
                                    {% if field.errors %}
                                        <div class="invalid-feedback" style="display: block; color: blue " data-toggle="tooltip" title="{{ field.errors.as_text }}">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="d-flex justify-content-center m-3">
                            <button class="btn" type="submit" style="background-color: #2F9286; color: #FFFFFF;  border-radius: 1rem;">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
            <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
            </script>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
