<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center text-break">  <!-- Add 'text-break' here -->
            <h1 class="my-5" style="color: #6CBFB5; font-size: 36px;">
                ВАШ ПУТЬ К 
                <span style="color: #FFFFFF; font-weight: bold; border: 2px solid #6CBFB5; border-radius: 60px; padding: 8px 16px; background-color: #6CBFB5;">
                    ВДОХНОВЕНИЮ</span> НАЧИНАЕТСЯ ЗДЕСЬ</h1>
        </div>
    </div>
</div>