{% load static %}
<div class='container-lg mt-5'>
    <div class='row'>
        <div class='col-md-6 m-auto '>
            <div class='container'>
                <p class='text-center'>
                    JK.WEB - молодая и перспективная команда
                    <br>Мы создаем и поддерживаем востребованные на рынке веб-сервисы
                </p>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='d-flex justify-content-center align-items-center flex-column'>
                <p class='mb-3'>Made by JK.Web</p>
                <div class='container justify-content-center align-items-center text-center'>
                    <img src="{% static 'img/logo_JK.png' %}" alt="Логотип" class=''>
                </div>
            </div>
        </div>
    </div>
</div>