<div class="col-6 p-5" style='background-color: #BBE4F5; border-radius: 1rem;'>
    <div class="row">
        <div class="text-center mb-5">
            <h2 id='title'>{{ project.title }}</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <span>Описание:</span>
                <p id='description'>{{ project.description }}</p>
            </div>
            <div class="col-md-5 text-center">
                <span>Автор:</span>
                <p>{{ project.author }}</p>
                <span>Категория:</span>
                <p id='category'>{{ project.get_category_display }}</p>
                <span>Язык:</span>
                <p id='programming_language'>{{ project.get_programming_language_display }}</p>
            </div>
        </div>
        <div class='row'> 
            <span>Ссылка на GitHub: <a id='link_on_code' href="{{ project.link_on_code }}">{{ project.link_on_code }}</a></span>                  
        </div>
    </div>
</div>