<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Coding Projects</title>
    <link rel="stylesheet" href="{% static 'css/header_style.css' %}">
</head>
<body>
    <header>
        <nav class='header-nav'>
            <a>
                <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
            </a>
            <ul class='nav-btn-list'>
                <li class='btn'>
                    <img src="{% static 'img/users.svg' %}" alt="Пользователи" class="nav-icon">
                    <a href="#">
                        Пользователи
                    </a>
                </li>
                <li class='btn'>
                    <img src="{% static 'img/magicpen.svg' %}" alt="Добавить проект" class="nav-icon">
                    <a href="#">
                        Добавить проект
                    </a>
                </li>
                <li class='btn'>
                    <img src="{% static 'img/notification.svg' %}" alt="Уведомления" class="nav-icon">
                    <a href="#">
                        Уведомления
                    </a>
                </li>
                <li class='btn'>
                    <img src="{% static 'img/profile-circle.svg' %}" alt="Регистрация" class="nav-icon">
                    <a href="#">
                        Регистрация/Вход
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>