<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center ">
        <div class="col-md-6">
            <div class='container text-center mb-4'>
                <a class="navbar-brand" href="#">
                    <img src="{% static "/img/logo.png" %}"
                         class=""
                         alt="">
                  </a>
            </div>

            <div class="card">
                <div class="card-header pt-3 m-auto bg-body" style="background: transparent;">
                    <h3>Вход</h3>
                </div>
                <div class="card-body">
                    <form class='text-center'>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Имя пользователя/почта">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="btn btn-primary ">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JavaScript (Popper.js и jQuery) и Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
