<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
    <header>
        {% include 'includes/header_nav.html' %}
      </header>
    <main class="container">
        <div class='row'>
            <div class='col-md-2 col-lg-2'>
                <div class="card bg-info p-0 m-0 text-bg-light ">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Фильтры</h5>
                        <form>
                            <div class="form-group mb-3">
                                <label>Сортировать по</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="filter3" id="option1" value="option1">
                                    <label class="form-check-label" for="option1">Популярное</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="filter3" id="option2" value="option2">
                                    <label class="form-check-label" for="option2">Новое</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="filter3" id="option3" value="option3">
                                    <label class="form-check-label" for="option3">Выбор пользователей</label>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="filter1">Категория</label>
                                <select class="form-control" id="filter1">
                                    <option>Выберите опцию</option>
                                    <option>Опция 1</option>
                                    <option>Опция 2</option>
                                    <option>Опция 3</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="filter2">Язык</label>
                                <select class="form-control" id="filter2">
                                    <option>Выберите опцию</option>
                                    <option>Опция 1</option>
                                    <option>Опция 2</option>
                                    <option>Опция 3</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Применить изменения</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-md-10 col-lg-10 ps-4'>
                <div class="container mb-3">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Найти проект по названию или автору" aria-label="Поиск проектов" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary justify-content-center align-items-center" type="button" id="button-addon2">
                                <img src="{% static 'img/search.svg' %}" alt="Поиск" class='d-block'>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% for data in persons_projects_data %}
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col mb-3">
                            <div class='container user-card'>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="" alt="Аватар" class="rounded-circle">
                                    </div>
                                    <div class="col-8">
                                        <div class='row mb-1'><h5>{{ data.person.name }}</h5></div>
                                        <div class='row mb-0'><p class='mb-0 '>{{ data.person.description }}</p></div>
                                        <div class='row mb-0'><p class='mb-0 '>{{ data.person.specialization }}</p></div>
                                        <div class='row'><p class='mb-0 '>13R</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for project in data.projects %}
                        {% include 'includes/project.html' %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'includes/footer_base.html' %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>